 @model IEnumerable<CasaDeShow.Models.Venda>
@{
    Layout = "_Layout";
}
<h1>Histórico</h1>
<hr/>
<a  class="btn btn-success" asp-action="Index" asp-controller="User">Comprar Mais</a>
<br>
<br>
<table id="vendas" class=" table table-striped table-bordered table-responsive-lg">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data/Hora do Evento </th>
            <th>Valor do Ingresso</th>
            <th>Quantidade Comprada</th>
            <th>Quantidade restante</th>
            <th>Valor Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var vendas in Model){
           
                <tr>
                    <td>@vendas.Nome</td>
                    <td>@vendas.Data</td>
                    <td>R$ @vendas.ValorDeIngressos</td>
                    <td>@vendas.QuantidadeComprada</td>
                    <td>@vendas.QuantidadeDeIngressos</td>
                    
                    <td>R$: @vendas.Total</td>
                </tr>
         }
    </tbody>
</table>